{% extends "layout.html" %}
{% block content %}
<h1>About</h1>
<p>Confidence intervals can be challenging to explain in the context of hypothesis testing. Even scientists often fail in proper interpretation of the results of statistical tests in their studies.</p>
<p>The aim of this app is to simplify explaining confidence intervals and confidence values by providing an interactive tool through which confidence intervals can be shown on different settings.</p>
<br/>
<br/>
<p>Author: Lion Jashari</p>
{% endblock %}